/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    box-sizing: border-box;
    border: 1px red solid;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Muli", sans-serif;
    min-height: 100vh;
    /* background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%); */
    /* background-color: #242e4c; */
}
.canvas {
    width: 800px;
    height: 800px;
}
